body {
  background-color: antiquewhite;
}
p {
  margin-bottom: 0;
  color: rgb(9, 20, 20);
  font-weight: 500;
}

span {
  font-weight: bold;
}

textarea {
  font-size: large;
  font-weight: 200;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 20px;
  cursor: pointer;
}
